.peoples-cards{
    display: flex;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2rem 0 2rem 0;
    margin: 2rem;
    margin-top: 4rem;
}

.peoples-cards-info-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.peoples-cards-info-body{
    margin-top: 1rem;
}
.peoples-cards-image{
    position: relative;
    left: -3rem;
}
