.Home{
    display: flex;
    align-items: center;
}
.text{
    padding:0 2rem;
}
.text-group-home{
    padding:1rem 2rem;
}

.button-group-home{
    background-color: #37806B;
    color: aliceblue;
    padding:6px 10px;
    border: 0;
    border-radius: 0 5px 0 5px;
    transition: 0.5s;
}
.button-group-home:hover{
    background-color: rgb(52, 133, 36);
}
.button-home{
    padding:0 2rem;
}
.image{
    width: 25rem;
    height: 25rem;
    border: 2px solid #B0855B;
    padding:1rem 0;
    border-radius: 4rem 0 4rem 0;
}
.imovel{
    padding:1rem 2rem;
    height: 30rem;
    width: 30rem;
    border-radius: 4rem 0 4rem 0;
}