.App {
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width: 800px) {
    .App{
        width: 100%;
    }
}
.services-app{
    display: flex;
    align-items: center;
}
.image-vector{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius: 100%;
    margin-left: 1rem;
    cursor: pointer;
}
.image-vector2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius: 100%;
    margin-left: 1rem;
    background: #37806B;
    cursor: pointer;
}
.services-header-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
}